body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
}
/* the css filter and -webkit-filter properties 
to draw two drop shadows with no blur, one for 
the positive axis and one for the negative, 
which will wrap around the image, which
 will provide the glowing effect. */
/* https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts */

@keyframes glowingLoop {
  from {
    -webkit-filter: initial;
    filter: initial;
  }
  to {
    -webkit-filter: drop-shadow(5px 5px 0 white) drop-shadow(-5px -5px 0 white);
    filter: drop-shadow(5px 5px 0 white) drop-shadow(-5px -5px 0 white);
  }
}


#hoverText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.HoverWrapper:hover #kittenImg {
  animation-name: glowingLoop;
  animation-duration: 1s;
  /* transition: 2s; */
  animation-iteration-count: infinite;
  display: block;

}
.HoverWrapper #kittenImg {
  animation-name: glowingLoop;
  animation-duration: 1s;
  transition: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate ;
  display: none;

}

.HoverWrapper #imgContainer {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;
  background-color: rgba(238, 255, 0, 0.596);
  border-radius: 50%;
}

.HoverWrapper:hover #imgContainer {
  display: block;

}

footer{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

}