* {
  /* apply this to every element (universal selector)*/
  box-sizing: border-box;
  /* box sizing is to make sure that 
  the element take the width an height not just the content */
}

.navBar {
  display: block;
  text-align: right;
  padding: 25px;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(66, 66, 66);
}

.navItem {
  padding: 2%;
  color: white;
}
.navItem:hover {
  color: yellow;
  cursor: pointer;
}

h1 {
  font-size: 6vw;
}

/* "PetCare" Styling */
#websiteName {
  padding: 20%;
  position: fixed;
  padding: 0;
  left: 2%;
  top: 3%;
  width: 5%;
  height: 5%;
  font-weight: bold;
  font-size: large;
}

.gridItem {
  width: 30%;
  height: 20vw;
  transition: 0.3s;
  border-radius: 1.5%;
}
.gridItem:hover {
  border: 1px solid white;
  width: 33%;
  height: 21vw;
}
button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5% 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0;
}
main {
  margin: 0 10% 0 10%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  height: 100%;
  color: white;
  background-image: url(black.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
